<html>
<head>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
	<title>elearning Page 3</title>
</head>
	<body>
		<div id="col1">
			<a href="page2.html">previous</a><br>
		</div>
		
		<div id="col2">
		<form id="myform" name="myform" method="post" action="">
		  <fieldset>
		  <legend>Please indicate your choice</legend>
			  <p>I, <span id="learnername">[name here]</span>, certify that I have read the materials presented to me.</p>
			  <p><input type="submit" name="submit" id="submit" value="Yes, I agree"  /></p>
		  </fieldset>
		</form>
		</div>

		<div id="col3">
			<a href="page3.html">next</a>
		</div>
		
	</body>
	
	<script type="text/javascript">

	var scorm = pipwerks.SCORM;  //Shortcut
	var lmsConnected = false;


	function handleError(msg){
	   alert(msg);
	   window.close();
	}


	function initCourse(){

	   //scorm.init returns a boolean
	   lmsConnected = scorm.init();

	   //If the scorm.init function succeeded...
	   if(lmsConnected){

	      //Let's get the completion status to see if the course has already been completed
	      var completionstatus = scorm.get("cmi.core.lesson_status");

	      //If the course has already been completed...
	      if(completionstatus === "completed" || completionstatus === "passed"){

	         //...let's display a message and close the browser window
	         handleError("You have already completed this course. You do not need to continue.");

	      }

	      //Now let's get the username from the LMS
	      var learnername = scorm.get("cmi.core.student_name");

	      //If the name was successfully retrieved...
	      if(learnername){  

	         //...let's display the username in a page element named "learnername"
	         document.getElementById("learnername").innerHTML = learnername; //use the name in the form

	      }

	   //If the course couldn't connect to the LMS for some reason...
	   } else {

	      //... let's alert the user then close the window.
	      handleError("Error: Course could not connect with the LMS");

	   }

	}


	function setComplete(){

	   //If the lmsConnection is active...
	   if(lmsConnected){

	      //... try setting the course status to "completed"
	      var success = scorm.set("cmi.core.lesson_status", "completed");

	      //If the course was successfully set to "completed"...
	      if(success){

	         //... disconnect from the LMS, we don't need to do anything else.
	         scorm.quit();

	      //If the course couldn't be set to completed for some reason...
	      } else {

	         //alert the user and close the course window
	         handleError("Error: Course could not be set to complete!");

	      }

	   //If the course isn't connected to the LMS for some reason...
	   } else {

	      //alert the user and close the course window
	      handleError("Error: Course is not connected to the LMS");

	   }

	}


	function initForm(){

	  document.getElementById("myform").onsubmit = function (){

	    this.innerHTML = "Thank you, your selection has been recorded. You may close this window.";

	    setComplete();

	    return false; // This prevents the browser from trying to post the form results

	  }

	}

	window.onload = function (){

	  initCourse();
	  initForm();

	}

	</script>
	<script type="text/javascript" src="SCORM_API_wrapper.js"></script>

</html5>

